p {
    margin: 0;
    font-family: Roboto, Arial;
}
.site {
    display: flex;
    
}
.book-list {
    padding-left: 1px;
    width: 500px;
    margin-right: 100px;
    border-right: solid;
    border-color: black;
    display: inline-block;
}
.selection {
    display: inline-block;
}
.main-title {
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 20px;
}
.profile {
    display: inline-block;
    // border-left: solid;
    flex: 1;
}
.book-stats {
    display: inline-block;
}
.book-listing {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: 90px;
    border: solid;
    border-color: black;
    flex: 1;
    margin-bottom: 15px;
}
.book-title {
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 5px;
    flex: 1;
}
.book-price {
    margin-left: 15px;
    margin-bottom: 5px;
    flex: 1;
}
.buy-button {
    margin-left: 100px;
    margin-right: 10px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}
.profile-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
.balance {
    margin-bottom: 5px;
    font-weight: 500;
}
.book_counter {
    font-weight: 500;
    display: inline-block;
}
.how_much {
    font-weight: 500;
}